
*{

    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Alata", sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}


.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.alata-regular {
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 5px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.padre{
    margin: 20px;
    position: absolute;
    padding: 10px;
    display: inline-block;
    justify-content: center;
    border: 3px solid black;
    border-radius: 10px;
    background-color: white;
    
  }

#padre1{
  margin: 20px;
  top: 180px;
  background-color: white;
}


#padre2{
  margin: 20px;
  top: 250px;
  background-color: white;
}


#padre3{
  margin: 20px;
  top: 310px;
}


.padre4{
    margin: 20px;
    top: 430px;
    left: 60px;
  }
.contenido {
     /*background-color: #fff;*/
    /*padding: 5px;
    border-radius: 12px;
    border-left: 3px solid #ccc;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 0px;
    left: 10px;*/
    position: flex;
   
}

.pagos_recientes {
 
   /*  background-color: #fff;
     padding: 5px;
     border-radius: 12px;
     border-left: 3px solid #ccc;
     box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
     margin-top: 10px;
     margin-bottom: 20px;
     margin-right: 20px;
     margin-left: 0px;
     left: 10px;*/
     top: 25px;
      position: flex;
      
 }
 .orden_servicio {
    
    /* background-color: #fff;
     padding: 5px;
     border-radius: 12px;
     border-left: 3px solid #ccc;
     box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
     margin-top: 10px;
     margin-bottom: 20px;
     margin-right: 20px;
     margin-left: 0px;
     left: 10px;*/
     top: 50px;
     position: flex;
 }

.vel_contratada {
    text-align: left;
     /*background-color: #fff;
     padding: 5px;
     border-radius: 12px;
     border-left: 3px solid #ccc;
     box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
     margin-top: 30px;
     margin-bottom: 50px;
     margin-right: 20px;
     margin-left: 0px;
     left: 10px;*/
     top: 72px;
     position: flex;
 }

.falla_voz {
    text-align: left;
     /*background-color: #fff;
     padding: 5px;
     border-radius: 12px;
     border-left: 3px solid #ccc;
     box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
     margin-top: 30px;
     margin-bottom: 10px;
     margin-right: 20px;
     margin-left: 0px;
     left: 10px;*/
     top: 95px;
     position: flex;
 }

.falla_general {
    text-align: left;
     /*background-color: #fff;
     padding: 5px;
     border-radius: 12px;
     border-left: 3px solid #ccc;
     box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
     margin-top: 30px;
     margin-bottom: 10px;
     margin-right: 20px;
     margin-left: 0px;
     left: 10px;*/
     top: 120px;
      position: flex;
 }

 .quejas {
    text-align: left;
     /*background-color: #fff;
     padding: 5px;
     border-radius: 12px;
     border-left: 3px solid #ccc;
     box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
     margin-top: 30px;
     margin-bottom: 10px;
     margin-right: 20px;
     margin-left: 0px;*/
     left: 10px;
     top: 145px;
     position: flex;
 }



/* AQUI VA LOS MENSAJES DE SI Y NO */
.mensaje-quejas,
.mensaje-orden,
.mensaje-velocidad {
    text-align: center;
    display: inline-block;
    background-color: rgb(253, 253, 253);
    color: #fff;
    border-radius: 12px;
    width: 400px;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 20px;
    margin-left: 20px;
    /*top: -50px;*/
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

h1 {
    margin: 0;
    font-size: 10px;
    color: #333;
    display: inline;
}

h2 {
    margin: 0;
    font-size: 8px;
    color: #333;
    display: inline;
}

h4 {

    text-align: center;
    color: black;
}

.sugerencia {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 20px;
    margin-left: 10px;
}

.linea-punteada {
        display:flex;
        justify-content: center;
        position:fixed;
        left: 50%;  /*Alinear con el borde izquierdo */
        top:27%;
        width: 60%; /* Ancho completo */
        height: 280px; /* Grosor de la línea */
        border-left: 3px solid #460000; /* Borde punt*/
}



#linea1{
left: 25%;  /*Alinear con el borde izquierdo */
        top: 220px;


}
.opciones {
    margin-top: 50px;
    display: inline;
}

button {
    display: inline-block;
    position: relative;
    margin: 0 15px;
    padding: 5px 10px;
    font-size: 8px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background-color: #640f0f;
    color: white;
    transition: background-color 0.3s;
}

.titulo{
padding: auto;
top: 300px;
    background-color: #4298d1;
}
.copy-button{
    display: inline-block;
    position: absolute;
    margin: 0 15px;
    padding: 5px 10px;
    font-size: 8px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background-color: #4298d1;
    color: rgb(0, 0, 0);
    transition: background-color 0.3s;
}
#mensaje_1{    
    max-width: 150px;
    left: 50%;
    top: 400px;
}

#mensaje_2{    
    max-width: 150px;
    left: 50%;
    top: 440px;
}

.si,
.no {
    margin: 0 15px;
    padding: 10px 20px;
    font-size: 8px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background-color: #640f0f;
    color: white;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #c28181;
}

.copy-button:hover {
    background-color: #0e2f9c;
}
.opcion {
    display: inline-block;
}


.saldos_ok {
    font-size: 13px;
    justify-content: left;
    text-align: left;
    display:inline-block;
    border-color: #460000;
    color: #460000;
    border: 1px solid #460000;
    border-radius: 12px;
    width: 250px;
    height: 90px;
    padding: 8px;
    margin-top: 20px;
    position:fixed;
    top: 130px;
    left: 10px;

}

.saldos_no {
    justify-content: center;
    position: flex;

}





.quejas_abiertas {
    font-size: 13px;
    display: none;
    border-color: #460000;
    color: #460000;
    border: 1px solid #460000;
    border-radius: 12px;
    width: 250px;
    height: 180px;
    padding: 8px;
    margin-top: 20px;
    position: absolute;
    top: 330px;
    left: 280px;

}